<h1 class="text-4xl">Listing Colleges</h1>
<form phx-change="filter" phx-debounce="300">
  <input
    type="text"
    name="name"
    value={@filters["name"]}
    class="h-8 px-3 rounded-lg border border-gray-400/60 focus:border-gray-400 placeholder:text-gray-400 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-[#1f293733]"
    placeholder="Search by name"
  />
  <input
    type="text"
    name="location"
    value={@filters["location"]}
    class="h-8 px-3 rounded-lg border border-gray-400/60 focus:border-gray-400 placeholder:text-gray-400 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-[#1f293733]"
    placeholder="Search by location"
  />
  <input
    type="number"
    name="advanced_rank"
    value={@filters["advanced_rank"]}
    class="h-8 px-3 rounded-lg border border-gray-400/70 focus:border-gray-400 placeholder:text-gray-400 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-[#1f293733]"
    placeholder="Advanced Rank"
  />
  <input
    type="number"
    name="mains_rank"
    value={@filters["mains_rank"]}
    class="h-8 px-3 rounded-lg border border-gray-400/70 focus:border-gray-400 placeholder:text-gray-400 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-[#1f293733]"
    placeholder="Mains Rank"
  />

  <LiveSelect.live_select field={@form[:selected_programs]} mode={:tags} options={@programs} />

  <div class="flex gap-x-6">
    <%= for class <- [:IIT, :NIT, :IIIT, :GFTI] do %>
      <label class="inline-flex items-center text-sm text-gray-500 ms-3 ark:text-neutral-400">
        <input
          type="checkbox"
          name="class[]"
          value={class}
          checked={Atom.to_string(class) in @filters["class"]}
          class="shrink-0 mt-0.5 border-gray-400/50 rounded text-violet-600 focus:ring-blue-50 disabled:opacity-50 disabled:pointer-events-none ark:bg-neutral-800 ark:border-neutral-700 ark:checked:bg-blue-500 ark:checked:border-blue-500 ark:focus:ring-offset-gray-800"
        />
        <span class="ml-2"><%= class %></span>
      </label>
    <% end %>
  </div>
  <.link
    :if={
      @filters != %{
        "name" => "",
        "location" => "",
        "class" => [],
        "advanced_rank" => "",
        "mains_rank" => "",
        selected_programs: %{}
      }
    }
    class="text-violet-700"
    navigate={~p"/colleges"}
  >
    Clear Filters
  </.link>
</form>

<div class="grid grid-cols-1 gap-4 mx-6 lg:grid-cols-3 2xl:grid-cols-4 sm:grid-cols-2 lg:gap-5 lg:mx-12">
  <%= for {id, college} <- @streams.colleges do %>
    <.college_component id={id} college={college} />
  <% end %>
</div>

<div :if={@streams.colleges.inserts == []}>
  <h1 class="text-4xl font-bold text-center text-orange-600">Oops!! No colleges Found</h1>
</div>
