<div class="mx-auto max-w-7xl ">
  <.link patch={~p"/colleges"}> Back to colleges </.link>
  <section class="px-4 my-12">
    <img
      class="object-cover w-full rounded-lg h-96"
      src="https://img.studyclap.com/img/institute/college/1342_3iitm3.png"
      alt=""
    />

    <h1 class="text-3xl font-medium text-gray-900"><%= @college.college.name %></h1>
    <p class="pt-2 text-sm text-gray-800 lg:text-normal">
      <%= @college.college.class %>
    </p>
  </section>
  <section class="px-4 my-12">
    <div class="pb-2 border-b-2 border-violet-500">
      <h1 class="text-2xl font-medium text-gray-700">Highlights</h1>
    </div>
    <p class="pt-2 text-sm text-gray-800 lg:text-normal">
      Indian Institute of Information Technology, Design & Management (IIITDM), Jabalpur is a public institution established by the Ministry of Human Resource & Development, Government of India in 2005. IIITDM Jabalpur was declared Institute of National Importance under IIIT Act. The institute is ranked 97th by the NIRF in the Engineering category.
    </p>
  </section>
  <%!-- <%= for program <- @college.programs do %>
    <%= program.name <> " " <> Integer.to_string(hd(program.rank_cutoffs).opening_rank) %>
  <% end %> --%>

  <section class="px-4 my-12">
    <div class="pb-2 border-b-2 border-violet-500">
      <h1 id="branches" class="text-2xl font-medium text-gray-700">Programs</h1>
    </div>
    <div class="flex flex-col">
      <div class="-m-1.5 overflow-x-auto">
        <div class="p-1.5 min-w-full inline-block align-middle">
          <div class="overflow-hidden">
            <table class="mx-auto divide-y divide-gray-200 min-w-max ark:divide-neutral-700">
              <caption class="pt-4 text-xs text-slate-500 ark:text-slate-400 caption-bottom">
                Programs at <%= @college.college.name %>
              </caption>
              <thead>
                <tr>
                  <th
                    scope="col"
                    class="px-6 py-3 text-xs font-medium text-gray-500 uppercase text-start ark:text-neutral-500"
                  >
                    Program Name
                  </th>
                  <th
                    scope="col"
                    class="px-6 py-3 text-xs font-medium text-gray-500 uppercase text-start ark:text-neutral-500"
                  >
                    Opening Rank
                  </th>
                  <th
                    scope="col"
                    class="px-6 py-3 text-xs font-medium text-gray-500 uppercase text-start ark:text-neutral-500"
                  >
                    Closing Rank
                  </th>

                  <th
                    scope="col"
                    class="px-6 py-3 text-xs font-medium text-gray-500 uppercase text-start ark:text-neutral-500"
                  >
                    Degree Type
                  </th>

                  <th
                    scope="col"
                    class="px-6 py-3 text-xs font-medium text-gray-500 uppercase text-end ark:text-neutral-500"
                  >
                    Quota
                  </th>
                  <th
                    scope="col"
                    class="px-6 py-3 text-xs font-medium text-gray-500 uppercase text-end ark:text-neutral-500"
                  >
                    Category
                  </th>
                  <th
                    scope="col"
                    class="px-6 py-3 text-xs font-medium text-gray-500 uppercase text-end ark:text-neutral-500"
                  >
                    Duration
                  </th>
                </tr>
              </thead>
              <tbody class="divide-y divide-gray-200 ark:divide-neutral-700">
                <%= for program <- @college.programs do %>
                  <tr>
                    <td class="px-6 py-4 text-sm font-medium text-gray-800 whitespace-nowrap ark:text-neutral-200">
                      <%= program.name %>
                    </td>

                    <td class="px-6 py-4 text-sm font-medium whitespace-nowrap ark:text-neutral-200">
                      <span class={"px-2.5 py-0.5 rounded-full #{get_rank_color(program.opening_rank, program.closing_rank, @advanced_rank)}"}>
                        <%= program.opening_rank %>
                      </span>
                    </td>
                    <td class="px-6 py-4 text-sm font-medium whitespace-nowrap ark:text-neutral-200">
                      <span class={"px-2.5 py-0.5 text-yellow-600 bg-yellow-100 rounded-full #{get_rank_color(program.opening_rank, program.closing_rank, @advanced_rank)}"}>
                        <%= program.closing_rank %>
                      </span>
                    </td>
                    <td class="px-6 py-4 overflow-hidden text-sm text-gray-800 truncate lg:max-w-72 whitespace-nowrap ark:text-neutral-200">
                      <%= program.degree_type %>
                    </td>
                    <td class="px-6 py-4 text-sm text-gray-800 whitespace-nowrap ark:text-neutral-200">
                      <%= process_quota(program.quota) %>
                    </td>
                    <td class="px-6 py-4 text-sm text-gray-800 whitespace-nowrap ark:text-neutral-200">
                      <%= process_category(program.category) %>
                    </td>
                    <td class="px-6 py-4 text-sm text-gray-800 whitespace-nowrap ark:text-neutral-200">
                      <%= program.duration %>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </section>
  # Section for student reviews & ratings. Robust review system. Think
  # Section for Placement Statistics
  # Section for infrastructure - writeup + videos with summary

  # Section for student life & culture
  <section class="px-4 my-12">
    <div></div>
  </section>
</div>
